<label for="" class="flex flex-col">
    <span class="font-bold">
        <%= label %>
    </span>
    <input class="border border-solid border-slate-300 px-1" type="text" <% if (required) { %>
    required
    <% } %> id="<%= id %>" name="<%= id %>">
</label>