<article class="p-3 rounded border border-solid border-slate-200">
    <h2 class="text-lg font-bold">
        <%= message.user %>
    </h2>
    <p>
        <%= message.body %>
    </p>
    <p>Date:
        <%= message.added %>

    </p>
</article>