<nav class="border-b border-solid border-b-slate-300">
    <ul class="flex flex-row gap-2 justify-between px-3 py-5 bg-white">
        <li>
            <a href="/" class="text-lg font-bold">
                <h1>Message Board</h1>
            </a>
        </li>
        <li>
            <a href="/new" class="bg-blue-600 hover:bg-blue-700 text-white px-3 py-2 rounded-lg">
                Post new Message
            </a>
        </li>

    </ul>
</nav>