<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <%- include("components/nav") %>
        <h1 class="text-xl">Messages</h1>

        <div class="grid grid-cols-4 gap-2">
            <% messages.forEach(message=> { %>
                <%- include("components/message", {message}) %>
                    <% }) %>

        </div>
</body>

</html>